{% extends "layout.html" %}

{% block content %}
    <div class="groups-header">
        <h2>Groups</h2>
        {% if is_logged_in %}
            <a href="/groups/new" class="btn btn-primary">Create New Group</a>
        {% endif %}
    </div>
    
    <div id="group-list" class="group-list">
        <iframe src="/api/groups/list" name="groups-frame" style="display:none"></iframe>
        <script>
            // Load groups on page load
            setTimeout(() => {
                document.querySelector('iframe[name="groups-frame"]').src = '/api/groups/list';
            }, 100);
        </script>
        <p>Loading groups...</p>
    </div>
{% endblock %}